@charset "UTF-8";
@media screen and (max-width: 603px) {
  header > h1 {
    font-size: 40px;
    margin-left: 0;
  }

  header > h2 {
    font-size: 38px;
    padding-left: 0;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  nav > a {
    font-size: 19px;
  }
  main {
    flex-direction: column;
  }

  section {
    width: 100%;
  }

  #image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  section > img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  section {
    width: 100%;
  }
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    width: 100%;
  }
  #skills {
    width: 100%;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  /* MAIN */
  main {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }

  section {
    width: 50%;
    overflow: hidden;
  }
  #image {
    max-width: 100%;
    height: auto;
  }
  section > img {
    max-width: 100%;
    height: auto;
  }
  /* SKILLS */
  .skills-grid {
    max-width: 900px;
  }
}
