@charset "UFT-8";
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
:root {
  --cor0: #5457bb;
  --cor1: #595a91;
  --cor2: #5a5ff5;
  --cor3: #505066;
  --cor4: #33333c;
  --cor5: #1b1b33;
}
* {
  margin: auto;
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: 100vh;
}
header {
  background-image: linear-gradient(to right, var(--cor4), var(--cor5));
  text-align: center;
  box-shadow: 5px 5px 5px black;
}
header > h1 {
  margin-left: 50px;
  font-size: 80px;
  color: white;
  text-shadow: #5457bb;
  padding: 20px;
}
header > h2 {
  color: #5a5ff5;
  font-size: 75px;
  padding-left: 40px;
  padding-bottom: 20px;
}
header h1 {
  font-family: "Jersey 15", serif;
  font-weight: normal;
}
header h2 {
  font-family: "Jersey 15", serif;
  font-weight: normal;
}
nav {
  text-align: center;
  padding: 50px;
}
nav a {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-size: 25px;
  transition-duration: 0.58s;
}
a:hover {
  text-decoration: underline #33333c;
  background-color: #5a5ff5;
  border-radius: 10px;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #5457bb;
  width: 50%;
  margin-top: 10px;
}
section h2 {
  font-variant: small-caps;
  font-size: 50px;
  color: #e2e2e2;
  text-align: center;
  padding-left: 25px;
  padding-top: 30px;
  margin: auto;
}
section p {
  text-indent: 25px;
  text-align: justify;
  font-size: 1.3em;
  padding: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
section > img {
  height: 50vh;
  width: 50vw;
}
#image {
  border: 5px solid rgba(0, 0, 0, 0.626);
  margin-top: 50px;
}
main {
  display: flex;
}
footer {
  margin-top: 10px;
  padding: 20px;
  background-image: linear-gradient(to right, var(--cor4), var(--cor5));
  box-shadow: -5px -5px 5px black;
}
footer > h2 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  color: white;
}
#skills > img {
  height: 5px;
}
